*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* target direct Child */
 .outer > h1{       
    color: tomato;
}

/* chaining */
.main .innerMain ul li a{
    text-decoration: none;
}

